<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170412506291-4akajvna9o55rjvk64e9617ipspdt4s9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170412506291-4akajvna9o55rjvk64e9617ipspdt4s9</string>
	<key>API_KEY</key>
	<string>AIzaSyCHg-QWl157Sga58O8ZW7PIYNUnHyKZeB0</string>
	<key>GCM_SENDER_ID</key>
	<string>170412506291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ValentinaLuchinovich.StartToDo</string>
	<key>PROJECT_ID</key>
	<string>starttodo-32068</string>
	<key>STORAGE_BUCKET</key>
	<string>starttodo-32068.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:170412506291:ios:8a3d02d973fac89e7d44c6</string>
	<key>DATABASE_URL</key>
	<string>https://starttodo-32068-default-rtdb.firebaseio.com/</string>
</dict>
</plist>
